<ul class="hamastars">
    <li *ngFor="let hamastar of hamastars">
      <a routerLink="/detail/{{hamastar.id}}">
    <!-- 第3行是將原本hamastarr.component.ts宣告的hamastars用以hamastar的名稱渲染，第八行中的hamastar便是第三行中的hamastar -->
    
    <!-- 第五行>>>CSS樣式變化 -->
      <span class="badge">{{hamastar.id}}</span>{{hamastar.name}}
    </a>
    </li>
    <!-- <app-hamastar-detail [hamastar]="selectedHamastar"></app-hamastar-detail> -->
    <!-- 第9行會將hamastars.component.ts中宣告的selectedHamastar轉成hamastar-detail.ts中宣告的hamastar來完成繼承
      並之後會透過hamastar-detail的html來呈現詳情 -->
  </ul>
